<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aggiungi una spesa</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Aggiungi una spesa</h1>
        <form id="form" action="/add_spesa" method="post" class="mt-4">
            <div class="form-group">
                <input type="text" name="titolo" placeholder="Titolo" class="form-control">
            </div>
            <div class="form-group">
                <textarea name="descrizione" placeholder="Descrizione" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <input type="number" name="prezzo" placeholder="Prezzo" class="form-control">
            </div>
            <div class="form-group">
                <input type="date" name="data" placeholder="Data" class="form-control">
            </div>
            <button type="submit" class="btn btn-success btn-block">Aggiungi</button>
        </form>
        <a href="/home" class="btn btn-primary mt-3">Back home</a>
    </div>

    <!-- jQuery and Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
