<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Registrati</h2>
    <form id="registrazioneform">
        <label for="username">Nome utente</label>
        <input type="text" name="username" id="username" required>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
        <label for="conf_pasw">conf_pasw</label>
        <input type="password" name="conf_pasw" id="conf_pasw" required>
        <button type="submit">Registrati</button>
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#registrazioneform').on('submit', function(e) {
                e.preventDefault();
                var username = $('#username').val();
                var password = $('#password').val();
                var conf_pasw = $('#conf_pasw').val();
                if (password !== conf_pasw) {
                    alert('Le password non corrispondono');
                    return;
                }
                var param = {
                    username: username,
                    password: password
                };
                $.ajax({
                    url: '/checkregistrazione',
                    type: 'POST',
                    data: JSON.stringify(param),
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    success: function(data) {
                        console.log(data);
                        if (data === false) {
                            alert('Accesso fallito');
                        } else {
                            window.location.href = '/'+data;
                        }
                    }
                });
            });
        });
    </script>
</body>
</html>
