<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Spese</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-4">
        <h2>Lista Spese</h2>

        <p class="font-weight-bold">Totale spese: <span id="totale"></span></p> 
        <p class="font-weight-bold">Totale spese questo mese: <span id="totale_mese"></span></p>

        <table class="table table-striped">
            <thead class="thead-light">
                <tr>
                    <th>Titolo</th>
                    <th>Dettagli</th>
                    <th>Prezzo</th>
                    <th>Data</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="lista_spese"></tbody>
        </table>

        <a href="/addSpesa" class="btn btn-success mb-3">Aggiungi una spesa</a><br>
        <a href="/home" class="btn btn-primary mb-3">Back home</a>
    </div>

    <!-- jQuery e Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function(){
            load_table();
        });

        function load_table(){
            
            get_spese();
            get_spese_mese();
        }
        
        function get_spese(){

            $.get("/get_spese", function(data){
                console.log(data);
                $("#lista_spese").html("");
                var totale = 0;
                if(data && data.length > 0) {
                    for(var i = 0; i < data.length; i++){
                        var spesa = data[i];
                        totale += spesa[4];
                        $("#lista_spese").append("<tr><td>"+spesa[2]+"</td><td>"+spesa[3]+"</td><td>"+spesa[4]+"</td><td>"+spesa[5]+"</td><td><button onclick='elimina("+spesa[0]+")'>elimina</button></td></tr>");
                    }
                }
                $("#totale").text(totale.toFixed(2));
                return true;
            });


        }
        function get_spese_mese(){
            $.get("/get_spese_mese", function(data){
                console.log(data);
                var totale = 0;
                if(data && data.length > 0) {
                    for(var i = 0; i < data.length; i++){
                        var spesa = data[i];
                        totale += spesa[4];
                    }
                }
                $("#totale_mese").text(totale);
            });





            
        }


        function elimina(id_spesa){
            var param = {
                id: id_spesa
            };
            
            $.get("/elimina", param, function(data){
                console.log(data);
                if(data){
                    load_table();
                }
            });
        }
        
        
    </script>
</body>
</html>
